<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VOYN"
        tools:targetApi="31">
        <activity
            android:name=".myactivitiesclasses.myParticipatedActivitiesPage"
            android:exported="false" />
        <activity
            android:name=".ProfileClasses.ChangeProfilePhoto"
            android:exported="false" />
        <activity
            android:name=".EvaluatingUsersPage"
            android:exported="false" />
        <activity
            android:name=".Sport.SportsFilter"
            android:exported="false" />
        <activity
            android:name=".Accomodation.AccommodationFilter"
            android:exported="false" />
        <activity
            android:name=".LaunchPage"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Transportation.TransportationFilter"
            android:exported="false" />
        <activity
            android:name=".ProfileClasses.ChangeEmailandPassword"
            android:exported="false" />
        <activity
            android:name=".ProfileClasses.EditProfile"
            android:exported="false" />
        <activity
            android:name=".Sport.SportsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Sport.SportsActivity"
            android:exported="false" />
        <activity
            android:name=".Sport.AddSportsActivity"
            android:exported="false" />
        <activity
            android:name=".myactivitiesclasses.profilePageForOtherUsers"
            android:exported="false" />
        <activity
            android:name=".myactivitiesclasses.WaitingIncomingInvitations"
            android:exported="false" />
        <activity
            android:name=".myactivitiesclasses.mySportsActivityDetails"
            android:exported="false" />
        <activity
            android:name=".myactivitiesclasses.myAccommodationActivityDetails"
            android:exported="false" />
        <activity
            android:name=".myactivitiesclasses.myTransportationActivityDetails"
            android:exported="false" />
        <activity
            android:name=".myactivitiesclasses.myActivities"
            android:exported="false" />
        <activity
            android:name=".Accomodation.AddAccomodationActivity"
            android:exported="false" />
        <activity
            android:name=".Chat.ChatInBetweenPage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Chat.ChattedUsersListPage"
            android:exported="false" />
        <activity
            android:name=".Accomodation.AccomodationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Accomodation.AccommodationActivity"
            android:exported="false" />
        <activity
            android:name=".Transportation.TransportationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Transportation.AddTransportationActivity"
            android:exported="false" />
        <activity
            android:name=".Transportation.TransportationActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordPage"
            android:exported="false" />
        <activity
            android:name=".MenuPage"
            android:exported="false" />
        <activity
            android:name=".SignUpPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>